:root {
    --color-1: #1E1E1E;
    --color-2: #242931;
    --color-3: #606060;
    --color-4: #FFFFFF;
    --color-5: #000000;
    --color-6: #252A32;
    --color-7: #262B32;
    --color-8: #272C34;
    --color-9: #54575E;
    --color-10: #7B7E83;
    --color-11: #B4B5B8;
    --color-12: #D0D1D3;
    --color-13: #F77429;
    --color-14: #D1D1D1;
    --color-15: #A1A1A1;
    --color-16: #DDDDDD;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Albert Sans';
    font-size: 24px;
    font-weight: 400;
    color: var(--color-1);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
}

.header {
    height: 60px;
    padding: 6px 20px;
    background-color: var(--color-4);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image: linear-gradient(90deg, #fff 0%, #000000 50%, #ffffff 100%);
    border-image-slice: 1;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 40px;

    a {
        display: inline-block;
        padding: 8px 0;
        text-decoration: none;
        color: var(--color-3);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 5%;
    }

    a:hover,
    .active {
        color: var(--color-13);
        border-bottom: 1px solid var(--color-13);
    }
}

.sub-nav {
    height: 60px;
    padding: 0 20px;
    background-color: var(--color-4);
    overflow: auto;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 20px;

    position: sticky;
    top: 0;
    z-index: 1;

    a {
        display: inline-block;
        font-family: 'Albert Sans';
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 5%;
        color: var(--color-3);
        text-decoration: none;
        text-transform: uppercase;
    }

    a:hover,
    .active {
        color: var(--color-13);
    }
}

.sub-nav::before,
.sub-nav::after {
    content: '';
    position: fixed;
    display: inline-block;
    width: 60px;
    height: 50px;
    top: 60px;
}

.sub-nav::before {
    left: 0;
    background-image: linear-gradient(to right, white, transparent);
}

.sub-nav::after {
    right: 0;
    background-image: linear-gradient(to left, white, transparent);
}

.products {
    padding: 40px 20px;
    position: relative;
}

.scrolled {

    .sub-nav::before,
    .sub-nav::after {
        top: 0;
    }

    .products {
        padding: 20px;
    }
}


.models-filtered-search {
    .products {
        padding: 0 20px;
    }

    input[type='text'] {
        margin-bottom: 32px;
        width: 100%;
        height: 40px;
        padding: 7px 18px;
        border-radius: 20px;
        background-color: var(--color-4);
        border: 1px solid var(--color-3);
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
        color: var(--color-5);
    }

    input[type='text']::placeholder {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
        color: var(--color-5);
    }

}

.products::after {
    content: '';
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, white, transparent);
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.product {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: var(--color-14);
    border-radius: 10px;

    .img {
        border-radius: 10px 10px 0 0;
    }

    .text {
        padding: 16px;
        border-radius: 0 0 10px 10px;
        background-color: var(--color-4);
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: var(--color-15);
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    .name {
        font-family: 'Montserrat Alternates';
        font-size: 24px;
        font-weight: 700;
    }

    .desc {
        font-size: 20px;
    }

    button {
        width: 99px;
        height: 31px;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid var(--color-15);
        background-color: var(--color-4);
        color: var(--color-1);
        font-size: 16px;
        letter-spacing: -2%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    button:hover {
        background-color: var(--color-15);
        cursor: pointer;
    }

    .vote {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .fa-heart {
        color: var(--color-15);
        transform: scale(0.86375, 0.72625);
    }

    .num {
        font-size: 16px;
        color: var(--color-3);
    }
}

.scrolled {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;

    }

    .product {
        .name {
            font-size: 20px;
        }

        .desc {
            display: none;
        }
    }
}

.search {
    position: sticky;
    top: 60px;
    background-color: #fff;
    padding-bottom: 20px;

    input {
        width: 100%;
        height: 40px;
        padding: 7px 18px;
        border-radius: 20px;
        border: 1px solid var(--color-3);
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
        color: #000;
    }

    input::placeholder {
        color: #000;
    }

    h1 {
        display: none;
    }
}

img {
    display: block;
    width: 100%;
    height: auto;
}

// about
.about-printforge {
    h1 {
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 5%;
        text-transform: uppercase;
    }

    h2 {
        font-family: 'Montserrat Alternates';
        font-size: 40px;
        font-weight: 700;
    }

    h3 {
        font-family: 'Montserrat Alternates';
        font-weight: 700;
        font-size: 28px;
    }

}

.features {
    border-top: 1px solid var(--color-15);
    border-bottom: 1px solid var(--color-15);
}

.our-vision {
    p:first-of-type::after {
        content: '';
        display: block;
        margin: 40px;
        border-bottom: 1px solid var(--color-1);
    }

    img {
        max-width: 140px;
        display: block;
        margin: 0 auto;
    }
}




// model-view
.model-view {
    .back-to-overview {
        background-color: #fff;
        font-family: 'Albert Sans';
        font-size: 14px;
        letter-spacing: 5%;
        text-transform: uppercase;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: var(--color-3);
            text-decoration: none;
        }
    }

    .product {
        border: none;
        box-shadow: none;

        .img {
            border-radius: 2px;
        }

        .vote {
            font-family: 'Albert Sans';
            font-size: 24px;
            font-weight: 400;

            i {
                font-size: 30px;
            }
        }

        .name {
            font-size: 32px;
        }

        .desc {
            font-size: 24px;
        }

        .date {
            font-size: 16px;
        }
    }
}

// models-filtered-scrolled
.models-filtered-scrolled {
    .main {
        .filtered-products {
            padding: 40px 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px 20px;
        }
    }
}

// models-filtered
.models-filtered,
.models-filtered-search {
    h1 {
        font-family: 'Montserrat Alternates';
        font-size: 32px;
        font-weight: 700;
        text-transform: capitalize;
    }
}

// home-alt
.home-alt {
    .mask-image {
        -webkit-mask-image: linear-gradient(to top, black, transparent);
        mask-image: linear-gradient(to top, black, transparent);
    }
}

// home
.home,
.home-alt {
    .intro {
        padding: 40px 20px;
    }

    .desktop-only {
        display: none;
    }

    h1 {
        font-family: 'Montserrat Alternates';
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 40px;
    }

    button {
        width: 199px;
        height: 48px;
        padding: 12px;
        background-color: var(--color-4);
        border: 2px solid var(--color-5);
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: -2%;
    }

    button:hover {
        cursor: pointer;
        box-shadow: 0 0 2px 2px var(--color-10);
    }
}

@media screen and (min-width: 1000px) {
    body {
        padding: 0 40px;
    }

    .header {
        height: 87px;
    }

    .nav-search {
        position: relative;
        flex-shrink: 0;
        flex-basis: 140px;
    }

    .sub-nav {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        width: 140px;

        a:hover,
        .active {
            border-left: 1px solid var(--color-13);
            padding-left: 10px;
        }
    }

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        padding-top: 20px;

        h1 {
            display: block;
            margin: 0;
            order: 1;
        }

        input {
            order: 2;
            max-width: 300px;
        }
    }

    // about
    .about {
        .header {
            position: sticky;
            top: 0;
            background-color: #fff;
            z-index: 10;
        }

        .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }

        .our-vision {
            max-width: 800px;

            h2 {
                font-size: 56px;
            }

            p {
                font-size: 28px;
            }

            p:first-of-type::after {
                width: 30%;
                margin: 40px auto;
            }

            img {
                margin: 100px auto;
            }
        }

        .about-printforge,
        .features {
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 28px;
            }

            p {
                font-size: 20px;
                word-break: keep-all;
            }
        }

        .model-available,
        .active-community,
        .free-to-use {
            padding: 60px;

        }

        .about-printforge {
            gap: 100px;

            img {
                flex: 1 0 627px;
                padding-left: 40px;
            }

            .text {
                flex: 1 1 600px;
                padding-right: 60px;
            }

            h1 {
                font-size: 20px;
            }

            h2 {
                font-size: 56px;
            }

            p {
                font-size: 28px;
            }
        }
    }

    // model-view
    .model-view {
        .detail {
            flex-grow: 1;
        }

        .back-to-overview {
            display: none;
        }

        .product {
            display: flex;
            justify-content: flex-start;
            gap: 40px;
            align-items: center;

            .text {
                padding: 0;
                flex: 1 0 450px;
            }
        }
    }

    // models-all, models-filterd, models-filtered-search
    .models-all,
    .models-filtered,
    .models-filtered-search {
        .main {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 80px;
        }

        .product-grid {
            padding: 0;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 40px;
        }

        .product {
            border-radius: 8.92px;
            transition: all 0.5s ease;

            .text {
                padding: 10px;

                .name {
                    font-size: 21.41px;
                }

                .desc {
                    font-size: 17.84px;
                }

                button,
                .vote {
                    font-size: 14.27px;
                }
            }
        }

        .product:hover {
            box-shadow: 2px 3px 8px 4px var(--color-11);
            transform: scale(1.06);
        }

    }

    // home

    .home {
        .main {
            display: flex;
            flex-direction: row-reverse;
            padding: 40px;
            justify-content: center;
            align-items: center;
            gap: 100px;
        }

        img {
            max-width: 729px;
        }

        .intro {
            order: 1;
        }
    }


}