:root {
  --color-1: #1E1E1E;
  --color-2: #242931;
  --color-3: #606060;
  --color-4: #FFFFFF;
  --color-5: #000000;
  --color-6: #252A32;
  --color-7: #262B32;
  --color-8: #272C34;
  --color-9: #54575E;
  --color-10: #7B7E83;
  --color-11: #B4B5B8;
  --color-12: #D0D1D3;
  --color-13: #F77429;
  --color-14: #D1D1D1;
  --color-15: #A1A1A1;
  --color-16: #DDDDDD;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Albert Sans";
  font-size: 24px;
  font-weight: 400;
  color: var(--color-1);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

.header {
  height: 60px;
  padding: 6px 20px;
  background-color: var(--color-4);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  -o-border-image: linear-gradient(90deg, #fff 0%, #000000 50%, #ffffff 100%);
     border-image: linear-gradient(90deg, #fff 0%, #000000 50%, #ffffff 100%);
  border-image-slice: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
.nav a {
  display: inline-block;
  padding: 8px 0;
  text-decoration: none;
  color: var(--color-3);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 5%;
}
.nav a:hover,
.nav .active {
  color: var(--color-13);
  border-bottom: 1px solid var(--color-13);
}

.sub-nav {
  height: 60px;
  padding: 0 20px;
  background-color: var(--color-4);
  overflow: auto;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.sub-nav a {
  display: inline-block;
  font-family: "Albert Sans";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 5%;
  color: var(--color-3);
  text-decoration: none;
  text-transform: uppercase;
}
.sub-nav a:hover,
.sub-nav .active {
  color: var(--color-13);
}

.sub-nav::before,
.sub-nav::after {
  content: "";
  position: fixed;
  display: inline-block;
  width: 60px;
  height: 50px;
  top: 60px;
}

.sub-nav::before {
  left: 0;
  background-image: linear-gradient(to right, white, transparent);
}

.sub-nav::after {
  right: 0;
  background-image: linear-gradient(to left, white, transparent);
}

.products {
  padding: 40px 20px;
  position: relative;
}

.scrolled .sub-nav::before,
.scrolled .sub-nav::after {
  top: 0;
}
.scrolled .products {
  padding: 20px;
}

.models-filtered-search .products {
  padding: 0 20px;
}
.models-filtered-search input[type=text] {
  margin-bottom: 32px;
  width: 100%;
  height: 40px;
  padding: 7px 18px;
  border-radius: 20px;
  background-color: var(--color-4);
  border: 1px solid var(--color-3);
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: var(--color-5);
}
.models-filtered-search input[type=text]::-moz-placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: var(--color-5);
}
.models-filtered-search input[type=text]::placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: var(--color-5);
}

.products::after {
  content: "";
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to top, white, transparent);
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.product {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--color-14);
  border-radius: 10px;
}
.product .img {
  border-radius: 10px 10px 0 0;
}
.product .text {
  padding: 16px;
  border-radius: 0 0 10px 10px;
  background-color: var(--color-4);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--color-15);
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.product .name {
  font-family: "Montserrat Alternates";
  font-size: 24px;
  font-weight: 700;
}
.product .desc {
  font-size: 20px;
}
.product button {
  width: 99px;
  height: 31px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--color-15);
  background-color: var(--color-4);
  color: var(--color-1);
  font-size: 16px;
  letter-spacing: -2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product button:hover {
  background-color: var(--color-15);
  cursor: pointer;
}
.product .vote {
  display: flex;
  align-items: center;
  gap: 6px;
}
.product .fa-heart {
  color: var(--color-15);
  transform: scale(0.86375, 0.72625);
}
.product .num {
  font-size: 16px;
  color: var(--color-3);
}

.scrolled .product-grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
}
.scrolled .product .name {
  font-size: 20px;
}
.scrolled .product .desc {
  display: none;
}

.search {
  position: sticky;
  top: 60px;
  background-color: #fff;
  padding-bottom: 20px;
}
.search input {
  width: 100%;
  height: 40px;
  padding: 7px 18px;
  border-radius: 20px;
  border: 1px solid var(--color-3);
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  color: #000;
}
.search input::-moz-placeholder {
  color: #000;
}
.search input::placeholder {
  color: #000;
}
.search h1 {
  display: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.about-printforge h1 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.about-printforge h2 {
  font-family: "Montserrat Alternates";
  font-size: 40px;
  font-weight: 700;
}
.about-printforge h3 {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-size: 28px;
}

.features {
  border-top: 1px solid var(--color-15);
  border-bottom: 1px solid var(--color-15);
}

.our-vision p:first-of-type::after {
  content: "";
  display: block;
  margin: 40px;
  border-bottom: 1px solid var(--color-1);
}
.our-vision img {
  max-width: 140px;
  display: block;
  margin: 0 auto;
}

.model-view .back-to-overview {
  background-color: #fff;
  font-family: "Albert Sans";
  font-size: 14px;
  letter-spacing: 5%;
  text-transform: uppercase;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.model-view .back-to-overview a {
  color: var(--color-3);
  text-decoration: none;
}
.model-view .product {
  border: none;
  box-shadow: none;
}
.model-view .product .img {
  border-radius: 2px;
}
.model-view .product .vote {
  font-family: "Albert Sans";
  font-size: 24px;
  font-weight: 400;
}
.model-view .product .vote i {
  font-size: 30px;
}
.model-view .product .name {
  font-size: 32px;
}
.model-view .product .desc {
  font-size: 24px;
}
.model-view .product .date {
  font-size: 16px;
}

.models-filtered-scrolled .main .filtered-products {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 20px;
}

.models-filtered h1,
.models-filtered-search h1 {
  font-family: "Montserrat Alternates";
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}

.home-alt .mask-image {
  -webkit-mask-image: linear-gradient(to top, black, transparent);
  mask-image: linear-gradient(to top, black, transparent);
}

.home .intro,
.home-alt .intro {
  padding: 40px 20px;
}
.home .desktop-only,
.home-alt .desktop-only {
  display: none;
}
.home h1,
.home-alt h1 {
  font-family: "Montserrat Alternates";
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.home p,
.home-alt p {
  margin-bottom: 40px;
}
.home button,
.home-alt button {
  width: 199px;
  height: 48px;
  padding: 12px;
  background-color: var(--color-4);
  border: 2px solid var(--color-5);
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -2%;
}
.home button:hover,
.home-alt button:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 2px var(--color-10);
}

@media screen and (min-width: 1000px) {
  body {
    padding: 0 40px;
  }
  .header {
    height: 87px;
  }
  .nav-search {
    position: relative;
    flex-shrink: 0;
    flex-basis: 140px;
  }
  .sub-nav {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    width: 140px;
  }
  .sub-nav a:hover,
  .sub-nav .active {
    border-left: 1px solid var(--color-13);
    padding-left: 10px;
  }
  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding-top: 20px;
  }
  .search h1 {
    display: block;
    margin: 0;
    order: 1;
  }
  .search input {
    order: 2;
    max-width: 300px;
  }
  .about .header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
  }
  .about .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .about .our-vision {
    max-width: 800px;
  }
  .about .our-vision h2 {
    font-size: 56px;
  }
  .about .our-vision p {
    font-size: 28px;
  }
  .about .our-vision p:first-of-type::after {
    width: 30%;
    margin: 40px auto;
  }
  .about .our-vision img {
    margin: 100px auto;
  }
  .about .about-printforge,
  .about .features {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about .about-printforge h3,
  .about .features h3 {
    font-size: 28px;
  }
  .about .about-printforge p,
  .about .features p {
    font-size: 20px;
    word-break: keep-all;
  }
  .about .model-available,
  .about .active-community,
  .about .free-to-use {
    padding: 60px;
  }
  .about .about-printforge {
    gap: 100px;
  }
  .about .about-printforge img {
    flex: 1 0 627px;
    padding-left: 40px;
  }
  .about .about-printforge .text {
    flex: 1 1 600px;
    padding-right: 60px;
  }
  .about .about-printforge h1 {
    font-size: 20px;
  }
  .about .about-printforge h2 {
    font-size: 56px;
  }
  .about .about-printforge p {
    font-size: 28px;
  }
  .model-view .detail {
    flex-grow: 1;
  }
  .model-view .back-to-overview {
    display: none;
  }
  .model-view .product {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
  }
  .model-view .product .text {
    padding: 0;
    flex: 1 0 450px;
  }
  .models-all .main,
  .models-filtered .main,
  .models-filtered-search .main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
  }
  .models-all .product-grid,
  .models-filtered .product-grid,
  .models-filtered-search .product-grid {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
  .models-all .product,
  .models-filtered .product,
  .models-filtered-search .product {
    border-radius: 8.92px;
    transition: all 0.5s ease;
  }
  .models-all .product .text,
  .models-filtered .product .text,
  .models-filtered-search .product .text {
    padding: 10px;
  }
  .models-all .product .text .name,
  .models-filtered .product .text .name,
  .models-filtered-search .product .text .name {
    font-size: 21.41px;
  }
  .models-all .product .text .desc,
  .models-filtered .product .text .desc,
  .models-filtered-search .product .text .desc {
    font-size: 17.84px;
  }
  .models-all .product .text button,
  .models-all .product .text .vote,
  .models-filtered .product .text button,
  .models-filtered .product .text .vote,
  .models-filtered-search .product .text button,
  .models-filtered-search .product .text .vote {
    font-size: 14.27px;
  }
  .models-all .product:hover,
  .models-filtered .product:hover,
  .models-filtered-search .product:hover {
    box-shadow: 2px 3px 8px 4px var(--color-11);
    transform: scale(1.06);
  }
  .home .main {
    display: flex;
    flex-direction: row-reverse;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .home img {
    max-width: 729px;
  }
  .home .intro {
    order: 1;
  }
}/*# sourceMappingURL=index.css.map */