:root {
    --color-1: #1E1E1E;
    --color-2: #242931;
    --color-3: #606060;
    --color-4: #FFFFFF;
    --color-5: #000000;
    --color-6: #252A32;
    --color-7: #262B32;
    --color-8: #272C34;
    --color-9: #54575E;
    --color-10: #7B7E83;
    --color-11: #B4B5B8;
    --color-12: #D0D1D3;
    --color-13: #F77429;
    --color-14: #D1D1D1;
    --color-15: #A1A1A1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Albert Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: 0%;
    color: var(--color-1);
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 20px;
}

.nav {
    flex-basis: 50%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    gap: 40px;

    a {
        flex-shrink: 0;
        text-decoration: none;
        color: var(--color-3);
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 5%;
        display: flex;
        align-items: center;
        padding: 8px 0;
    }

    a:hover,
    .active {
        color: var(--color-13);
        border-bottom: 1px solid var(--color-13);
    }
}

.sub-nav {
    padding: 0 20px;
    background-color: var(--color-4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    height: 60px;

    a {
        flex-grow: 1;
        flex-shrink: 0;
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 5%;
        color: var(--color-3);
        text-transform: uppercase;
    }

    a:hover,
    .active {
        color: var(--color-13);
    }
}

.product {
    border: 1px solid var(--color-14);
    border-radius: 10px;

    a {
        text-decoration: none;
    }

    .img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }

    .text {
        padding: 20px;

        .name {
            margin: 0;
            color: var(--color-1);
            font-family: 'Montserrat Alternates';
            font-size: 24px;
            font-weight: 700;
        }

        .desc {
            font-size: 20px;
            color: var(--color-1);
        }

        button {
            font-family: inherit;
            font-size: 16px;
            font-weight: 400;
            color: var(--color-1);
            border: 1px solid var(--color-15);
            border-radius: 20px;
            background-color: var(--color-4);
            width: 99px;
            height: 31px;
        }

        .vote {
            font-family: inherit;
            font-size: 16px;
            font-weight: 400;
            color: var(--color-3);
            display: flex;
            gap: 6px;

            i {
                font-size: 20px;
                color: var(--color-3);
            }
        }
    }
}


// model-view
.model-view {
    .back-to-overview {
        padding: 0 20px;
        background-color: #fff;
        font-family: 'Albert Sans';
        font-size: 14px;
        letter-spacing: 5%;
        text-transform: uppercase;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            color: var(--color-3);
            text-decoration: none;
        }
    }

    .product {
        border: none;
        box-shadow: none;

        .img {
            border-radius: 2px;
            padding: 0 20px;
        }

        .vote {
            font-family: 'Albert Sans';
            font-size: 24px;
            font-weight: 400;

            i {
                font-size: 30px;
            }
        }

        .name {
            font-size: 32px;
        }

        .desc {
            font-size: 24px;
        }
    }
}

// models-filtered-scrolled
.models-filtered-scrolled {
    .main {
        .filtered-products {
            padding: 40px 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 40px 20px;
        }
    }
}

// models-filtered
.models-filtered {
    .main {
        .products {
            padding: 40px 20px;
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 20px;
        }
    }
}

// home-alt
.home-alt {
    .main {
        .mask {
            mask-image: linear-gradient(to top, black, transparent);
            -webkit-mask-image: linear-gradient(to top, black, transparent);
        }
    }
}

// home
.home,
.home-alt {
    .main {
        h1 {
            font-family: 'Montserrat Alternates';
            font-size: 40px;
            font-weight: 700;
            line-height: auto;
            letter-spacing: 0;
            color: var(--color-1);
            margin: 0;
        }

        button {
            font-family: inherit;
            font-weight: 600;
            font-size: 20px;
            letter-spacing: 0;
            color: var(--color-1);
            text-transform: uppercase;
            padding: 12px;
            border: 2px solid var(--color-5);
            background-color: var(--color-4);
            transition: all 0.5s ease;
        }

        button:hover {
            cursor: pointer;
            box-shadow: 0 0 2px 2px var(--color-10);
        }

        .intro {
            padding: 40px 20px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}